services:
  api:
    build: .
    container_name: coreops-api
    ports:
      - "3333:3333"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    command: >
      sh -c "
      ./wait-for-db.sh &&
      npx prisma migrate deploy &&
      exec node dist/index.js
      "

  postgres:
    image: postgres:16-alpine
    container_name: coreops-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: coreops
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: coreops-redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
